.disk {
    font-family: "Poppins", sans-serif;
    &__container {
        max-width: 1140px;
        margin: 0 auto;
    }

    &__wrapper {

    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-self: center;
        padding:  10px 0px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.705);
    }
}
.disk-header {

    &__right-row {
        display: flex;
    }

    &__left-row {
        display: flex;
    }
}
.right-row {
    
    &__arrow-back {
    }

    &__arrow-forward {
    }

    &__new-folder {
    }
}
.left-row {

    &__select-sort {
        
    }

    &__select-table {
    }
}
.select-table {
    &__plate, &__list{ 
        height: 20px;
        width: 20px;
        margin: 0px 10px;
        outline: none;
        border: none;
        cursor: pointer;
        background: no-repeat center center;
        background-size: contain;
    }
    &__plate {
        background-image: url("../../assets/img/disk/3.svg");
    }

    &__list {
        background-image: url("../../assets/img/disk/2.svg");
    }
}
// &__plate, &__list { 
//     height: 20px;
//     width: 20px;
//     margin: 0px 10px;
//     outline: none;
//     border: none;
//     cursor: pointer;
//     background: no-repeat center center;
//     background-size: contain;
// }
// &__plate{
//     background-image: url("../../assets/img/disk/3.svg");
// }
// &__list{
//     background-image: url("../../assets/img/disk/2.svg");
// }

.disk {
  
  

    &__header {

    }

    &__row { 
        display: flex;
    }

    &__back {
        cursor: pointer;
        margin: 0px 15px;
    }   


    &__create {
        cursor: pointer;
        margin: 0px 15px;
    }

    &__back img { 
        width: 30px;
        height: 30px;
    }

    &__create img { 
        width: 50px;
        height: 50px;
    }

    &__upload {
        margin-top: 15px;
    }

    &__upload-label {
        
        padding: 5px;
        cursor: pointer;
        border: 2px dashed red;
    }

    &__upload-input {
        display: none;
    }


    &__select-list{

    }
    
    &__plate, &__list { 
        height: 20px;
        width: 20px;
        margin: 0px 10px;
        outline: none;
        border: none;
        cursor: pointer;
        background: no-repeat center center;
        background-size: contain;
    }
    &__plate{
        background-image: url("../../assets/img/disk/3.svg");
    }
    &__list{
        background-image: url("../../assets/img/disk/2.svg");
    }

}


.drop-area { 
    width: 100%;
    height: calc(100vh - 70px - 40px);
    margin: 20px 0px ;
    border: dashed red 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}
