.popup {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;

 

    &__content {
        width: 400px;
        background: white;
        padding: 25px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }
    input {
       margin: 20px 0px;
    }

    &__title {
        margin-left: 10px;
        width: 50px;
        height: 50px;
        background-color:  rgba(51, 51, 51, 0.699);
        -webkit-mask: url("../../../assets/img/disk/file-signature-solid.svg") no-repeat center;
        mask: url("../../../assets/img/disk/file-signature-solid.svg") no-repeat center;
    }

    &__close {
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-color:  #5995fd;
        -webkit-mask: url("../../../assets/img/disk/exit.svg") no-repeat center;
        mask: url("../../../assets/img/disk/exit.svg") no-repeat center;
        &:hover { 
            background-color: #4d84e2;
        }
    }


    
    &__createFolder {
        align-self: flex-end;
        width: 150px;
        background-color: #5995fd;
        border: none;
        outline: none;
        height: 49px;
        border-radius: 49px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        margin: 10px 0;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
            background-color: #4d84e2;
        }
    }

    &__input { 
        background-color: #f0f0f0;
        margin: 10px 0;
        height: 55px;
        border-radius: 55px;
        display: grid;
        padding: 0px 20px;
        position: relative;
        font-size: 18px;
        input {
            background: none;
            outline: none;
            border: none;
            line-height: 1;
            font-weight: 600;
            font-size: 14px;
            color: rgba(51, 51, 51, 0.699);
          }
    }
}
