
h2 	{ 
  text-align:center; 
  margin-bottom:50px; 
}
h2 small { 
  font-weight:normal; 
  color:#888; 
  display:block; 
}

.group__wrapper 	 { 
  position:relative; 
}
.group__wrapper input {
  background-color: rgb(33, 45, 69);
  color: rgb(190, 192, 194);
  font-size:18px;
  padding:10px 20px 10px 20px;
  display:block;
  width:100%;
  border:none;
  border-radius: 12px;
}
.group__wrapper input:focus { outline:none; }

.group__wrapper label {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:20px;
  top:15px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
  
}

.group__wrapper input:focus ~ label, input:valid ~ label {
  top:-20px;
  font-size:14px;
  color:#f56837;
}

.bar { position:relative; display:block; width:94%; }
.bar:before, .bar:after{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#f56837; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.bar:before {
  left:53%;
}
.bar:after {
  right:47%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0%;
  pointer-events:none;
  opacity:0.5;
}

input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}


@-webkit-keyframes inputHighlighter {
	from { background:#f56837; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#f56837; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#f56837; }
  to 	{ width:0; background:transparent; }
}