.fileList {
    margin: 20px 0px;
    z-index: 100;
    &__header {
        display: grid;
        grid-template-columns: 1fr 4fr 2fr repeat(4, 1fr);
        font-size: 20px; 
     }

    &__name {
        grid-column-start: 2;
    }

    &__date {
        grid-column-start: 3;
    }

    &__size {
      text-align: center;
        grid-column-start: 4;
    }
    &__body div{ 
      transition: 0.5s ease;
    }
}
  .files-plates__wrapper div { 
    z-index: 100;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    transition: 0.5s ease;
  }


.file-enter-active {
    animation: file-enter 500ms forwards;
  }
  
  @keyframes file-enter {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


.file-exit-active {
    animation: file-exit 500ms forwards;
  }
  
  @keyframes file-exit {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-50%);
    }
  }

  .plates-enter-active {
    animation: plates-enter 500ms forwards;
  }
  
  @keyframes plates-enter {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


.plates-exit-active {
    animation: plates-exit 500ms forwards;
  }
  
  @keyframes plates-exit {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-50%);
    }
  }
