.fileList {
    margin: 20px 0px;
    &__header {
        display: grid;
        grid-template-columns: 1fr 4fr 2fr repeat(4, 1fr);
        font-size: 20px; 
     }

    &__name {
        grid-column-start: 2;
    }

    &__date {
        grid-column-start: 3;
    }

    &__size {
      text-align: center;
        grid-column-start: 4;
    }
}
  .files-plates__wrapper div { 
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }


.file-enter-active {
    animation: file-enter 500ms forwards;
  }
  
  @keyframes file-enter {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


.file-exit-active {
    animation: file-exit 500ms forwards;
  }
  
  @keyframes file-exit {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-50%);
    }
  }

  
.file-plate-enter-active {
  animation: file-plate-enter 500ms forwards;
}

@keyframes file-plate-enter {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}